

/* WRAPPER */

.filter-wrapper {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 16px;
}



/* HEADING */

.adventure-heading {
  margin: 20px 0;
}

.adventure-heading h2 {
  font-size: 28px;
  font-family: Asar, serif;
  font-weight: 500;
  margin: 0;
  position: relative;
}

.adventure-heading::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #ffea00;
  margin-top: 10px;
}



/* FILTERS (MOBILE ) */


.adventure-filters {
  display: flex;
  flex-wrap: wrap; /*   for mobile */
  gap: 10px;
  margin: 20px 0;
}

.adventure-filter {
  padding: 8px 14px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  
}

.filter .button-wrapper {
  display: none;
}

.adventure-filter.active {
  background: #202020;
  color: #fff;
  border-color: #202020;
}



/* GRID (MOBILE FIRST) */

.adventure-grid {
  display: grid;
  grid-template-columns: 1fr; /*  mobile */
  gap: 24px;
}



/* CARD */

.adventure-card {
  display: flex;
  flex-direction: column;
}

/* REMOVE FIXED WIDTH  */

/* IMAGE */
.adventure-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* TITLE */
.adventure-card h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px 0 6px;
  color: #202020;
}

/* DESCRIPTION */
.adventure-card p {
  font-size: 13px;
  color: #666;
  line-height: 1.5;

  /*  better truncation */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* TABLET */

@media (width >= 768px) {
  .adventure-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .adventure-heading h2 {
    font-size: 32px;
  }

  .adventure-filter {
    font-size: 13px;
  }
}


/* DESKTOP */

@media (width >= 1024px) {
  .filter-wrapper {
    padding: 0 76px;
  }

  .adventure-grid {
    grid-template-columns: repeat(4, 1fr); /*   layout */
    gap: 40px;
  }

  .adventure-card img {
    height: 180px;
  }

  .adventure-heading h2 {
    font-size: 36px;
  }
}