/* 
   MOBILE 
 */
#faqs{
    font-size: 36px;
  font-weight: 500;
  font-family: Asar, serif;
  position: relative;
}

#faqs::after{
    content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #ffea00;
  margin-top: 15px;
  margin-bottom: 30px;
}


/* 
   MOBILE 
 */

.faq-layout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

/* INTRO */
.faq-intro picture img {
  width: 100%;
  height: auto;
}

.faq-intro p {
  font-size: 15px;
  line-height: 1.7;
  color: #333;
  margin-top: 20px;
}

/* FAQ ITEMS */

.faq-item {
  border-top: 1px solid #ddd;
  padding: 16px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.faq-toggle {
  font-size: 22px;
}

/* ANSWER */

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  font-size: 14px;
  color: #444;
}

.faq-item.open .faq-answer {
  max-height: 200px;
  margin-top: 10px;
}

/* HELP SECTION */

.faq-help h3 {
  font-size: 24px;
  font-family: Asar, serif;
  margin-bottom: 10px;
}

.faq-help p {
  font-size: 14px;
  margin-bottom: 8px;
}

/* 
   TABLET
 */

@media (width >= 768px) {
  .faq-layout {
    padding:0 76px;
  }

  .faq-intro p {
    font-size: 16px;
  }
}

/* 
   DESKTOP
 */

@media (width >= 1024px) {
  .faq-layout {
    flex-direction: row;
    align-items: flex-start;
    gap: 80px;
  }

  .faq-left {
    flex: 2;
  }

  .faq-help {
    flex: 1;
  }
}