/* Wrapper */
.recent-articles-wrapper {
  max-width: 1300px;
  margin-bottom: 50px;

  /* margin-top: 50px; */

  /* margin: 60px auto; */

  /* background-color: #555; */

  /* margin-top: 900px; */

  /* padding: 0 20px; */
  
}

/* Wrapper spacing */
.default-content-wrapper {
  max-width: 1300px;
  margin: 27px 0 13.5px;
  padding: 0 46px;

  /* margin-bottom: 50px; */

  /* padding: 0 20px; */

  /* border-bottom: 2px solid #ffea00; */
}

/* Heading style */
#recent-article {
  font-size: 42px;
  font-weight: 500;
  font-family: Asar, serif;
  margin: 0;
  position: relative;

}

/* Yellow underline */
#recent-article::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #ffea00;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Grid Layout */
.recent-articles.block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0 46px;

  /* border-bottom: 1px solid #202020; */
  border-bottom: 1.5px solid rgb(32 32 32 / 50%);

}

/* Each Card */
.recent-articles.block > div {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 268px;
  
}

/* Image */
.recent-articles.block picture img {
  width: 100%;
  height: 200px;

  /* height: 240px; */
  object-fit: cover;
  display: block;
}

/* Text Section */
.recent-articles.block > div > div:last-child {
  margin-top: 20px;

  /* color: aliceblue; */
}

/* Title */
.recent-articles.block h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #202020;
}

/* Remove default strong styling issue */
.recent-articles.block h2 strong {
  font-weight: 700;
}

/* Description */
.recent-articles.block p {
  font-size: 14px;
  color: #696969;
  margin-top: 10px;
  line-height: 1.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Hover effect (optional but modern look) */

/* .recent-articles.block > div:hover img {
  transform: scale(1.05);
  transition: 0.3s ease;
} */

/* Button wrapper spacing */
.all-articles-wrapper {
  /* grid-column: 1 / -1;  */

  /* Makes button full width in grid */
  width: 145px;
  margin-top: 40px;
}

/* Button styling */
.all-articles-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background-color: #ffea00;
  color: #202020 !important;
  text-decoration: none !important;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s ease;
  margin-bottom: 80px;
}

.all-articles-btn:hover {
  background-color: #e6c200;
}

/* Responsive - Tablet */
@media (width <= 1024px) {
  .recent-articles.block {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive - Mobile */
@media (width <= 600px) {
  .recent-articles.block {
    grid-template-columns: 1fr;
  }
}
