

/* WRAPPER */


.recent-articles-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 76px;
}



/* HEADING */


#recent-article {
  font-size: 28px;
  font-family: Asar, serif;
  font-weight: 500;
  margin: 20px 0;
  position: relative;
}

#recent-article::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #ffea00;
  margin-top: 10px;
}



/* GRID (MOBILE FIRST) */


.recent-articles.block {
  display: grid;
  grid-template-columns: 1fr; /*  mobile */
  gap: 20px;
}


/* CARD */

.recent-articles.block > div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* IMAGE */
.recent-articles.block picture img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* TEXT */
.recent-articles.block > div > div:last-child {
  margin-top: 12px;
}

/* TITLE */
.recent-articles.block h2 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #202020;
}

/* DESCRIPTION */
.recent-articles.block p {
  font-size: 13px;
  color: #666;
  margin-top: 6px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* BUTTON */

.all-articles-wrapper {
  margin-top: 30px;
}

.all-articles-wrapper > a{
  text-decoration: none;
  color: #202020;
}

.all-articles-btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: #ffea00;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}


/* TABLET */

@media (width >= 768px) {
  .recent-articles.block {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  #recent-article {
    font-size: 32px;
  }
}


/* DESKTOP */

@media (width >= 1024px) {
  .recent-articles.block {
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px;
  }

  #recent-article {
    font-size: 36px;
  }

  .recent-articles.block picture img {
    height: 180px;
  }
}