/* Wrapper spacing */
.feature-wrapper {
  /* margin-top: 180px; */
  padding: 10px 0;
  background-color: #fff;
}

/* Main container */
.feature.block {
  max-width: 1300px;

  /* margin: 0 auto; */

  /* margin-bottom: 60px; */

  /* border: 1px solid #cfcfcf; */

  /* border-radius: 8px; */
  overflow: hidden;
  padding: 0 46px;

}

/* Flex for inner div */
.feature.block > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}

/* Text Section (First child div) */
.feature.block > div > div:first-child {
  flex: 1;
  background-color: #efefef;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Featured label */
.feature.block strong {
  font-size: 18px;
  color: #444;
  letter-spacing: 1px;
}

/* Heading */
.feature.block h2 {
  font-size: 40px;
  font-family: Asar,serif;
  font-weight: 500;
  margin: 20px 0;
  color: #202020;
  line-height: 1.2;
}

/* Description */
.feature.block p {
  font-size: 16px;
  line-height: 1.8;
  color: #202020;
}

/* Image Section (Second child div) */
.feature.block > div > div:last-child {
  flex: 1;
}

.feature.block picture,
.feature.block img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Button Styling */

.feature.block > div > div:first-child p:last-child a {
  display: inline-block;
  margin-top: 30px;
  padding: 1em 2.5em;
  background-color: #ffea00;
  color: #202020;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Responsive */
@media (width <= 992px) {
  .feature.block > div {
    flex-direction: column;
  }

  .feature.block > div > div:first-child {
    padding: 40px 25px;
  }

  .feature.block h2 {
    font-size: 28px;
  }
}